 
@-webkit-keyframes fadeIn { from { opacity:0;margin-top:-50px; } to { opacity:1;margin-top:0px; } }
@-moz-keyframes fadeIn { from { opacity:0;margin-top:-50px; } to { opacity:1;margin-top:0px; } }
@keyframes fadeIn { from { opacity:0;margin-top:-50px; } to { opacity:1;margin-top:0px; } }
 
.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
 
	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
 
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}
.container {
  width:100%;
}
.page-container {
  margin:0 auto;
  padding: 0px;
/*   width: 670px;  */
/*   height: 900px;  */
  width:8.275in;
  height:11.69in;
  clear: both;
  background-color: white;
  page-break-after: always;
  text-align:center;
  border:1px solid white;
  transition:1s;
}
.page-letter {
  width:100%;
  margin:0 auto;
  padding:0px;
  background-color: white;
  width:7.8in;
/*   width:7.75in; */
  height:10in;
  margin-top:.5in;
/*   margin-top:.75in; */
/*   border-left:1px solid darkgray;
  border-right:1px solid darkgray; */
}
.page-letter-border {
  border:1px solid black;
}
.pdfApplyMargin {
  margin-top:.8in;
}
.horiz-line {
  width:100%;
  border:1px solid black;
  border-top:none;
  height:0px;
}
td.col-quarter table tr td, td.col.col-half {
  font-size:.85em;
}
td.col {
  border:1px solid gray;
  font-size:.9em;
  margin:0px;
  padding:0px;
}
.col.text-right table {
  padding:0px;
}
.col-quarter {
  width: 167px;
}
.col-half {
  width: 334px;
}
table, tr {
  margin:0px;
  padding:0px;
  width:100%;
}
table tr td {
  border:0px !important;
}
div.section {
  padding-left:10px;
  text-align:left;
  padding-top:5px;
  padding-bottom:-5px;
}
div.section div.subheader {
  width:92%;
  margin:0 auto;
  color:darkgray;
  text-align:center;
  font-size:1.1em;
  font-weight:500;
  padding-top:5px;
}
div.section div.skills-training {
  margin:0 auto;
  text-align:center;
  font-size:.85em;
  width:90%;
}
div.section div.title {
  font-size:.85em;
  font-weight:600;
  padding-top:5px;
}
div.section div.subtitle {
  font-size:.9em;
  font-weight:600;
  padding-left:25px;
}
div.section div.detail {
  font-size:.845em;
  padding-left:25px;
}
div.section-header {
  margin:0px;
  border:1px solid black;
  border-right:0px;
  border-left:0px;
  background-color:gray;
  font-size:.9em;
  font-weight:700;background: #f6f8f9; /* Old browsers */
  background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
  background: -webkit-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
  background: linear-gradient(to bottom, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
text-shadow: 0px 1px 1px #999;
}
table.section {
  width:98%;
  margin:0 auto;
  margin-top:10px;
  margin-bottom:10px;
}
span.resume {
  font-size:.8em;
  font-weight:600;
}
td.name {
  font-size:1.4em;
  font-weight:600;
  padding-bottom:4px;
  font-family: Tahoma, Helvetica, Arial, Sans-Serif;
  text-shadow: 0 1px 0 #ccc,0 2px 0 #c9c9c9,0 1px 0 #bbb,
               0 2px 0 #b9b9b9,0 3px 0 #aaa,0 1px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),0 2px 2px rgba(0,0,0,.35),
               0 2px 2px rgba(0,0,0,.2),0 4px 10px rgba(0,0,0,.15);
}
td.nick-name {
  font-weight:500;
}
div.fine-print {
  font-size:.8em;
  color:#888888;
}
ul.project-list {
  font-size:.9em;
  font-weight:500;
  list-style:none;
  margin-left:0;
/*   padding-left:1em; */
/*   text-indent:-1em; */
  margin-bottom:5px;
}
ul.project-list li:before {
  content: "\0BB \020";
}
tr td a {
  color:black;
}
tr td a:hover {
  color:blue;
}
.to-pdf {
  position:absolute;
  background-color:red;
  width:2.6in;
/*   height:.3in; */
/*   top:.85in; */
  top:.5in;
  height:1.2in;
  z-index:1;
  opacity:.0;
  cursor:pointer;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
#download {
  cursor:pointer;
  z-index:999;
  transition:.1s;
}
#download:hover {
/*   color:green;
  font-size:1.8em; */
}
#download:active {
  text-shadow:none;
  color:black;
}
